@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

html {
    background-color: #EDEEF3;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Poppins', 'Comfortaa', Arial, Helvetica, sans-serif;
    --bg-color: #E3FDFF;
    --nav: #FFF;
    --button: #F4BA19;
    --button-hover: #C59205;
    --bkg-footer:#434343;
}

h2 {
    text-align: center;
    font-weight: 700;
}

.container-fluid {
    margin: 0px !important;
    padding: 0px !important;
    background-color: #EDEEF3;
}

.ContainerBody {
    background-color: #fff;
    box-shadow: 0px 0px 5px rgb(145, 144, 144);
    padding: 20px 0px;
    margin-bottom: 50px;
}

.navbar-brand a {
    text-decoration: none;
    color: #000;
}

/* HEADER */

.navbar {
    padding: 20px 0px;
    box-shadow: 0px 2px 5px rgb(145, 144, 144);
    display: flex;
    justify-content: left !important;
    background-color: #fff;
}

.navbar .container {
    justify-content: left !important;
}

.img-brand {
    width: 50px;
}

.brand-interface {
    font-size: 1.5rem;
    color: #000;
}

.brand-interface:hover {
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 770px) {
    .navbar .container {
        justify-content: center !important;
    }
}

/* CONTENT */

.ActionCenter {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0px;
}

.ActionBloc {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.title {
    font-size: 1.5rem;
}

.mandatory {
    font-size: 1rem;
    font-style: italic;
    color: red;
}

.CenteredItem {
    text-align: center;
    margin-top: 50px;
}

/* CARDS */

.Card {
    border-bottom: 2px solid rgb(230, 224, 224);
    margin: 15px 0px;
}

.InfoUp {
    display: flex;
    flex-direction: row;
}

.IdItem {
    font-size: 1rem;
    font-weight: 500;
}

h3 {
    font-weight: 700;
}

/* BUTTONS */

.ButtonAction {
    text-align: center;
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    margin: 0px 10px;
}

.Update {
    background-color: #F1B155;
}
.Update:hover {
    background-color: rgb(207, 146, 60);
}

.Delete {
    background-color: #E44F55;
}
.Delete:hover {
    background-color: rgb(190, 52, 57);
}

.Action {
    background-color: #9185BE;
}
.Action:hover {
    background-color: rgb(114, 100, 165);
}

.SaveForm {
    text-align: center;
    background-color: #9185BE;
    color: #fff;
    margin: 20px 0px;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    width: 100%;
}

.ButtonReturn {
    text-align: center;
    background-color: #E2E2E2;
    color: grey;
    padding: 5px 15px;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 1rem;
}
.ButtonReturn:hover {
    background-color: rgb(245, 240, 240);
}

/* IMAGE */

.img-round {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (max-width: 992px) {
    .InfoUp {
        flex-direction: column !important;
        margin-bottom: 15px;
    }
    
}