body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
    --bg-color: #E3FDFF;
    --nav: #64C7E6;
    --button: #F4BA19;
    --button-hover: #C59205;
    --bkg-footer:#434343;
}

h2 {
    text-align: center;
    font-weight: 700;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
}

.container-md {
    width: 500px;
    margin: auto;
}

.btn-primary {
    background-color: var(--button);
    border: 1px solid rgb(244, 156, 25);
    padding: 10px;
    margin: 20px 0px;
    width: 250px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.btn-primary:hover {
    background-color: var(--button-hover);
    border: 1px solid rgb(244, 156, 25);
}

/* HEADER */

.navbar {
    margin: 0px auto 20px auto;
    padding: 20px 0px;
}

.bg-blue {
    background-color: var(--nav);
}

.img-brand {
    width: 200px !important;
}

.searchbar {
    display: flex;
    justify-content: start;
}

.btn-header {
    background-color: var(--button);
    border: 1px solid rgb(244, 156, 25);
    padding: 10px;
    margin: 0px;
    width: 250px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    color: #fff;
}

.btn-header:hover {
    background-color: var(--button-hover);
    border: 1px solid rgb(244, 156, 25);
    color: #fff;
}

a.nav-link {
    color: #fff !important;
}